.hero {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    color: var(--main);
    text-align: left;
    height:calc(100vh - 168px);
  }
  
  .hero h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .hero h2 {
    font-size: 42px;
    color: var(--contrast);
    margin: 10px 0 20px;
  }
  
  .hero-buttons .btn {
    display: inline-block;
    margin-right: 20px;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .primary {
    background: var(--main);
    border-radius: 15px 15px 0px 15px;
    color: white;
  }
  
  .secondary {
    color: var(--main);
  }