body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contentWrapper{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem 0rem 3rem 0rem ;
}

.imageSection{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.imageSection img{
  width: 50vw;
}

.leitbild {
    display: flex;
    flex-direction: column;
    justify-content:center ;
    color: var(--main);
    text-align: left;
    /* height:calc(100vh - 168px); */
    padding: 0px;
  }

  .items {
    background: var(--backContrast);
    padding: 30px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* min-height: 35rem; */
   
  }
  
  @media only screen and (min-width: 768px) {
  .leitbild img{
    width: 12rem;
  }

  .items p{
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  

  .items:hover{
    width: 34rem;
    flex-direction: row;
    gap:0.5em;
  }

  .items:hover img{
    width: 5rem;
  }

  .items:hover h3{
    font-size: smaller;
  }

  .items:hover p{
    white-space: wrap;
    overflow: visible;
    height: 13rem;
    text-align: justify;
  
  }
  }

  @media only screen and (max-width:768px){
    .contentWrapper{
      padding-top: 15svh;
      padding-bottom: 15svh;
      gap:1rem;
    }
    
    .imageSection{
      padding: 0px;
      
    }

    .imageSection img{
      width: 100svw;
    }

    .leitbild{
      display: flex;
      flex-direction: row;
      min-height:max-content;
    }

    .wrapper{
      flex-direction: column;
      min-height:fit-content;
    }

    .items{
      width: 50vw;
      height: fit-content;
      display: flex;
      flex-direction: column;
    }

  .items p {
    white-space: wrap;
    overflow: visible;
    height: fit-content;
    text-align: justify;
  }

    .items:hover{
      width: 50vw;
      height: fit-content;
      flex-direction: column;
      gap:0px;
    }

    .items img{
      width: 7rem;
    }
  }