/* Alle Smartphone-Anpassungen */
@media only screen and (max-width: 768px) {
  html, body {
    width: 100vw;
    height: 100dvh;
  }
    /* Hamburger-Button sichtbar + Styling */
    .menu-toggle {
      display: block;
      background: none;
      border: none;
      font-size: 32px;
      cursor: pointer;
      color: var(--main);
      padding: 10px;
    }
    
    .menu-toggle.open::before {
      content: "✕";
    }
    .menu-toggle::before {
      content: "☰";
    }
  
  
    /* Navigationsmenü einklappbar */
    .mobile-nav{
      display:none;                /* standardmäßig zu */
    }
    .mobile-nav a{
      padding: 10px 20px;
      font-size: 1.2em;
      text-align: center;
      width: 100%;
      border-top: 1px solid #ccc;
    }
    /* beim Ausklappen */
    .mobile-nav.open{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 5em;
      left: 0;
      height: 80svh;
      width: 100vw;
      background-color: var(--backLight);
      z-index: 1000;
      padding-top: 60px; /* Platz für Menübutton */
      gap: 1em;
      }
  
    /* Header stapeln */
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      position: fixed;
      width: calc(100vmin - 40px);
      top: 0;
      background-color: var(--backLight); /* wichtig, sonst transparent beim Scroll */
      z-index: 1002;
    }
    .logo{
      height:4em;
      margin-bottom:10px;
    }
  
    /* Hero-Text kleiner + mittig */
    .hero h1,
    .hero h2{
      font-size:24px;
      text-align:center;
    }
    .hero-buttons{
      flex-direction:column;
      align-items:center;
      gap:10px;
    }
  
    /* Features übereinander */
    .features{
      flex-direction:column;
      align-items:center;
    }
    .feature{
      width:80%;
      margin-bottom:20px;
    }
  
    /* Services untereinander */
    .services{
      flex-direction:column;
      padding:20px;
    }
    .services-right{
      padding:20px 0;
      
    }
    .beratung{
      color: var(--backW);
      text-decoration: none;
      font-weight: bold;
    }
    /* Kunden-Scroller horizontal durchwischbar */
    .scrollerInner{
      flex-wrap:nowrap;
      overflow-x:auto;
    }
    .kunde{
      width:80px;
      height:80px;
    }
    .kunden-logos{
      width:60px;
    }
  
    /* Footer spalten untereinander */
    .footer-columns{
      flex-direction:column;
      gap:20px;
    }
  }
  