<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QECB – Qualität in jedem Detail</title>
  <link rel="stylesheet" href="../css/footer.css" />
  <link rel="stylesheet" href="../css/generell.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/development.css" />
  <link rel="stylesheet" href="../css/mobile.css" />
  <script defer src="../javascript/scroller.js"></script>
  <script defer src="../javascript/mobileMenu.js"></script>
  <script defer src="../javascript/headerScroll.js"></script>
</head>
<body>

  <header class="header">
    <a href="../index.html"><img class="logo" src="../logos/Komplettlogo_transparent_newColor.png"></img></a>
    
    <button class="menu-toggle" aria-label="Menü öffnen"></button>
    <nav class="nav mobile-nav">
      <a class="normalA" href="development.html">PROJEKTE</a>
      <div id="unternehmenLink" class="dropdown">
        <a class="normalA" id="ulink" href="development.html">UNTERNEHMEN</a>
        <div class="subMenu">
            <a class="subLink" href="development.html">ÜBER UNS</a>
            <a class="subLink" href="leitbild.html">LEITBILD</a>
            <a class="subLink" href="development.html">KARRIERE</a>
        </div>
      </div>
      <a class="normalA" href="development.html">WEITERBILDUNG</a>
      <a  href="development.html" id="contact-button">KONTAKT</a>
    </nav>
  </header>

  <section class="development">
    <h1>404:</h1>
    <h2>Diese Seite ist noch in Entwicklung!</h2>
  </section>


  <footer class="footer">
    <div class="footer-columns">
      <div>
        <h5>UNTERNEHMEN</h5>
        <p>TEAM<br>ÜBER UNS</p>
      </div>
      <div>
        <h5>PROJEKTE</h5>
        <p>DATENSCHUTZ<br>NUTZUNGSBEDINGUNGEN</p>
      </div>
      <div>
        <h5>HILFE</h5>
        <p>JETZT LOSLEGEN<br>KONTAKT<br>FAQ</p>
      </div>
      <div>
        <h5>KONTAKT</h5>
        <p>LINKEDIN<br>+49 174 6529247<br>info@qecb.de<br>Virchowstraße 43, 03044 Cottbus</p>
      </div>
    </div>
  </footer>

</body>
</html>
