<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QECB – Qualität in jedem Detail</title>
  <link rel="stylesheet" href="../css/footer.css" />
  <link rel="stylesheet" href="../css/generell.css" />
  <link rel="stylesheet" href="../css/header.css" />
  <link rel="stylesheet" href="../css/leitbild.css" />
  <link rel="stylesheet" href="../css/mobile.css" />
  <script defer src="../javascript/scroller.js"></script>
  <script defer src="../javascript/mobileMenu.js"></script>
  <script defer src="../javascript/headerScroll.js"></script>
</head>
<body>

  <header class="header">
    <a href="/index.html"><img class="logo" src="/logos/Komplettlogo_transparent_newColor.png"></img></a>
    
    <button class="menu-toggle" aria-label="Menü öffnen"></button>
    <nav class="nav mobile-nav">
      <a class="normalA" href="/template/development.html">PROJEKTE</a>
      <div id="unternehmenLink" class="dropdown">
        <a class="normalA"  href="/template/development.html">UNTERNEHMEN</a>
        <div class="subMenu">
            <a class="subLink" href="/template/development.html">ÜBER UNS</a>
            <a class="subLink" href="/template/leitbild.html">LEITBILD</a>
            <a class="subLink" href="/template/development.html">KARRIERE</a>
        </div>
      </div>
      <a class="normalA" href="/template/development.html">WEITERBILDUNG</a>
      <a  href="#" id="contact-button">KONTAKT</a>
    </nav>
  </header>

  <section class="leitbild">
    <div class="wrapper">
        <div class="items">
            <div>
                <h3>Vision</h3>
                <img src="/logos/scope.png">
            </div>
            <p>Wir wollen ein regional, national und international anerkannter Kooperationspartner auf dem Gebiet des Quality Engineering werden.</p>
        </div>
        <div class="items">
            <div>
                <h3>Mission</h3>
                <img src="/logos/werkzeug.png">
            </div>
            <p>Wir als QECB wollen für unsere Kunden exzellente Ergebnisse individuell, schnell und aufwandsoptimal erbringen.</p>
        </div>
        <div class="items">
            <div>
                <h3>Motivation</h3>
                <img src="/logos/idee.png">
            </div>
            <p>Unsere langjährigen Erfahrungen aus Lehre, Forschung und Praxisprojekten im universitären Kontext haben Unterstützungsbedarfe in diversen Organisationen auf den Gebieten des Qualitäts- und Projektmanagements aufgezeigt.
                Wir als Qualitätsingenieure wollen diese Potenziale nutzen und haben uns entschlossen, die vorhandene Expertise interessierten Partnern zur Verfügung zu stellen.</p>
        </div>
        <div class="items">
            <div>
                <h3>Strategische Ziele</h3>
                <img src="/logos/target.png">
            </div>
            <p>Qualität bedeutet für uns die Erfüllung von Anforderungen, Erwartungen und Wünschen. Deshalb haben wir uns zum Ziel gesetzt, herausragende Leistungen schnell, aufwandsoptimal und mit Freude an der Sache zu erbringen. Wir gestalten intern effiziente Abläufe, welche wir regelmäßig bewerten und kontinuierlich verbessern. Dabei stehen unsere Kunden im Mittelpunkt für welche wir Leistungen erbringen und die wir von der Qualität unserer Arbeitsprozesse und -ergebnisse überzeugen wollen.
                
                Wir untersuchen Abläufe systemorientiert unter den Aspekten Qualität, Kosten und Zeit.
                
                Durch unsere hohe Reaktionsfähigkeit auf Veränderungen und eine ergebnisorientierte Arbeitsweise liefern wir dem Kunden früh und kontinuierlich nutzenoptimierte Lösungen.
                
                Zu diesem Zweck legen wir Wert auf direkte Kommunikation in interdisziplinären Teams zur Generierung von Wettbewerbsvorteilen für unsere Kunden.
                
                Weiterhin soll ein umfangreiches Weiterbildungskonzept die Förderung des Qualitätsmanagements unterstützen.</p>
        </div>
    </div>
  </section>


  <footer class="footer">
    <div class="footer-columns">
      <div>
        <h5>UNTERNEHMEN</h5>
        <p>TEAM<br>ÜBER UNS</p>
      </div>
      <div>
        <h5>PROJEKTE</h5>
        <p>DATENSCHUTZ<br>NUTZUNGSBEDINGUNGEN</p>
      </div>
      <div>
        <h5>HILFE</h5>
        <p>JETZT LOSLEGEN<br>KONTAKT<br>FAQ</p>
      </div>
      <div>
        <h5>KONTAKT</h5>
        <p>LINKEDIN<br>+49 174 6529247<br>info@qecb.de<br>Virchowstraße 43, 03044 Cottbus</p>
      </div>
    </div>
  </footer>

</body>
</html>
